# Core build tools
pip
setuptools
wheel

# Flask Web Framework
flask
flask_sqlalchemy

# Environment Variables & ORM
python-dotenv
sqlalchemy

# Image Processing
pillow
opencv-python

# Machine Learning & AI
tensorflow
numpy
pandas
joblib
scikit-learn

# Google Gemini API (Generative AI)
google-generativeai

# Database Drivers
psycopg2-binary

# Virtual Environment Tools (optional)
virtualenv
