# Core build tools (to prevent wheel build errors)
pip>=25.1.1
setuptools>=70.0.0
wheel>=0.44.0

# Flask Web Framework
flask==2.3.3
flask_sqlalchemy==3.1.1

# Environment Variables & ORM
python-dotenv==1.0.0
sqlalchemy==2.0.23

# Image Processing
pillow==11.0.0
opencv-python==4.8.1.78

# Machine Learning & AI
tensorflow
numpy==1.26.4
pandas==2.2.2
joblib==1.4.2
scikit-learn==1.5.2

# Google Gemini API (Generative AI)
google-generativeai==0.8.2

# Database Drivers
psycopg2-binary==2.9.9

# Virtual Environment Tools (optional but useful)
virtualenv==20.26.2
